* {
    padding: 0;
    margin: 0;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    width: 90%;
    padding: 1em;
    margin: 0 auto;
}

header  h1 {
    font-size: 30px;
    font-weight: 400;
}

header hr {
    border: 1px solid #cecece;
}

main .info-header {
    display: flex;
    margin-bottom: 30px;
    color: #8b8b8b;
}

main .info-header #autor {
    margin-right: 1em;
}

main .info-principal img {
    max-width: 100%;
}

footer {
    width: 100%;
    background-color: #161616;
    padding: 1em;
}

footer .container ul li {
    list-style: none;
    padding: .5em 0;
}

footer .container ul li a {
    color: #cecece;
    text-decoration: none;
}

footer .container ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}